# Use PHP5.4 as default
# Changed PHP handler from application/x-httpd-php54 to application/x-httpd-phpbeta on Wed Nov 18 01:02:39 MST 2015.
AddHandler application/x-httpd-phpbeta .php

# BEGIN WordPress

# END WordPress
